body {
  text-align: center;
  width: fit-content;
  margin: auto;
  background-color: #f7f3ee;
  font-family: sans-serif, Helvetica, Arial;
}

.card {
  width: 450px;
  border-radius: 25px;
  border: solid 2px #012423;
  margin: auto;
  margin-bottom: 40px;
  background-color: #0d2f2e;
  color: #e9c4aa;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-question {
  padding: 12px 12px;
}

.container-simulacao {
  background-color: #f7f3ee;
  border-radius: 8px;
  color: #012423;
  padding: 18px 24px;
  margin: 12px 0px;
  flex-direction: column;
  gap: 10px;
}

.text {
  width: 70%;
  margin: auto;
  padding: 15px;
}

.title {
  font-size: 35px;
  margin: 20px;
  color: #012423;
}

.subtitle {
  font-size: 23px;
  margin: 35px;
  color: #012423;
}

button {
  width: 100%;
  background-color: #ef9b83;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
}

.base-calculo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

span {
  color: white;
  opacity: 0.6;
}

.text-error {
  color: red;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
}

.text-result {
  font-size: 15px;
  text-align: left;
}

.green {
  color: #0d2f2e;
}

.yellow {
  color: #7a7b3a;
}

.red {
  color: #882006;
}

#ipt_meses {
  height: 24px !important;
}

#sel_ativo,
#sel_silo,
#ipt_meses {
  width: 100%;
  height: 32px;
  padding: 3px;
  border: 1px solid;
  border-radius: 6px;
}

#sel_silo:focus,
#sel_ativo:focus,
#ipt_meses:focus {
  border: 3px solid;
}

.text-input {
  text-align: justify;
}